
	<div class = "column is-one-third side-menu has-background-white">
	
    	<div class="menu is-sticky">				
			<ul id="menu" class="menu-list">
				<li class = "menu-item"><%= link_to 'Homework', homeworks_path, method: :get%></li>
				<li class = "menu-item" ><%= link_to 'Schedule a Meeting', new_task_path%></li>
				<li class = "menu-item"><%= link_to 'Attendance', new_attendance_path, method: :get%></li>
			</ul>
		</div>
    </div>