
	<div class = "column is-one-third side-menu has-background-white ">
	
    	<div class="menu is-sticky">				
			<ul id="menu" class="menu-list">
				<li><a href="#basic">Schedule a Meeting</a></li>
				<li><a href="#keyword">Homework</a></li>
				<li><a href="#onpage">Library</a></li>
			</ul>
		</div>
    </div>