<%# column container of the class %>
<%= render "banner/banner" %><br>

<%# division of the two columns: Navbar and Main Content %>
<div class = "columns dashboard">
    <%# navbar: schedule a meeting, homework, library %>
	<%= render "banner/content"%> <br>
	
	<%# main %>
    <div class="column content is-white">
	<%# <%= render new_task_path%> <br> %>
	</div>
</div>