
	<div class = 'landing-page'>
		<div class = 'title'>
			<img src='https://i.ibb.co/mcwVCNt/Untitled-design-1-removebg.png' class = 'kovidyante-logo'>
			<p class = 'kovidyante-link'> kovidyante.edu </p>
		</div>

		<div class = 'log-in'>
			<% if current_user.nil? %>
				<%= link_to new_user_session_path, class: 'button is-success is-outlined is-large' do %>Tara na!<% end %>
			<% else %>

				<% if current_user.admin_role? %>
					<h3>Welcome Admin</h3>
				<% elsif current_user.teacher_role? %>
					<h3>Welcome Teacher</h3>
				<% else %>
					<h3>Welcome Student</h3>
				<% end %>
				<%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
			<% end %>
		</div>
	</div>
