/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing:border-box
 }
 html {
    margin: 0px;
    height: 100%;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
 }

 body {
    /* display: flex; */
    margin: 0px;
    justify-content: center;
    align-items:center;

    text-align: center;
    /* justify-content: center;
    align-items:center; */
    background-color: white;
    height: 100%;
}

.landing-page{
    text-align: center;
    justify-content: center;
    align-items:center;
}

.kovidyante-logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.kovidyante-link {
    margin: 0;
   font-size: 50px;
   /* color: white; */
}

.kovidyante-edu{
    font-family: 'Lexend Mega', sans-serif;
    text-decoration: none;
    font-size: larger;
    padding-left: 10px;
}

.log-in-form {
    flex-direction: column;
}

.form {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: left;
  bottom: 0;
}

.task {
  top: 200px;
}

.field {

    justify-content: space-between;
}
#webcam-preview{
    margin:auto;
    position: absolute;
    top:0;
	bottom: 0;
	left: 0;
	right: 0;
   
  }
  .element{
    margin:auto;
    position: absolute;
    top:0;
	bottom: 0;
	left: 0;
	right: 0;
    width:320px;
    height:240px;
    background:rgba(41, 41, 41, 0.8) ;
    
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    
  }

  //  ============== CSS

  // menu/navbar design 

    // ---------------Menu Designs ---------------------
    .is-green
    {
      background-color:#7ed957;
      height: 100%}
    .is-white
    {
      background-color: white;
    }

    .content 
    {
      margin: 0;
      min-height: 850px;
    }

    .side-menu {
      position: sticky;
      top:0;
      bottom: 0;
      background-color: #EFEFEF;
      height: 950px;
      max-width: 400px;

    }

    .menu-list {
      padding-top: 200px;
    }
    li:hover{
      background-color: #7ed957;
    }

<<<<<<< HEAD
=======
    .new-task {
      display: flex;
      position: relative;
      text-align: left;
      align-self: center;
      justify-content: center;
      padding:200px;
    }

    .navbar-item {
      font-family: 'GlacialIndifferenceRegular';
      font-size: 20px;
    }
    .navbar-item:hover {
      background-color: #7ed957;
    }
    .navbar {
      background-color: #7ed957;
      text-decoration: none;
    }

    .main {
      display: flex;
      position: relative;
      align-self: center;
      justify-content: center;
      max-width: 1080px;
      margin: auto;
      left: 0;
      right: 0;
      text-align: left;
      bottom: 0;
    }
>>>>>>> a336d529ec3baa952a26990b0679ee75b55ee8d8
    .laser {
      width: 50%;
      margin:auto;
      background-color: tomato;
      height: 1px;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 0 4px red;
      animation: scanning 2s infinite;
    }
  
    .diode {
      animation: beam .01s infinite;
    }
  
    @keyframes beam {
      60% {
        opacity: 0;
      }
    }
    
    @keyframes scanning {
      60% {
        transform: translateY(75px);
      }
    }

<<<<<<< HEAD
    
    
    .new-task {
      display: flex;
      position: relative;
      text-align: left;
      align-self: center;
      justify-content: center;
      padding:200px;
    }

    .main {
      margin: 0;
    }
=======
    .main-body {
      padding-top: 200px;
    }
    
>>>>>>> a336d529ec3baa952a26990b0679ee75b55ee8d8
/*   
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes beam {
    50% {
      opacity: 0;
    }
  }
  
  @keyframes scanning {
    50% {
      transform: translateY(75px);
    }
  } */

  